
/* Color Palette:
Light Shades: #fcfcfd;
Light Accent: #ebc06c;
Main Brand Color: #e96663;
Dark Accent: #aaacb3;
Dark Shades: #475671;
*/

.active{
    background-color: #c5bf95;
}

body{
    background-color: #475671;
}
.navbar{
    overflow: hidden;
    background-color: antiquewhite;
}
.navbar a{
    float: right;
    display: inline-block;
    color : black;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}
.name {
   background-color: aliceblue; 
   font-family: Georgia, 'Times New Roman', Times, serif;
   color:black

}