
/* Color Palette:
Background Color: #282242;
Navbar Color: #562750;
Text Color : #FDF2E8;
Light Accent: #AAAAAE;
Dark Accent: #40102F;
*/

.active{
    background-color: #40102F;
}

body{
    background-color: #282242;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
}

.navBar{
    list-style: none;
    margin: 0;
    padding: 0;
    position:sticky;
    top:0;
    overflow: hidden;
    background-color:#562750;
    height:auto;
}

.navBar li{
    float: left;
    border-right: 1px solid #40102F;
}
.navBar li:last-child {
    border-right: none;
  }

.navBar li a{
    display: list-item;
    color:#FDF2E8;
    padding: 14px 16px;
    text-decoration: none;
}

.navBar li a:hover{
    color: #870200;
}

header{
    color: #AAAAAE;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    position: sticky;
    overflow: hidden;
    font-size: larger;
}
.contactheader{
    color: #aaacb3;
    font-family: 'Times New Roman', Times, serif;
}
img {
    width: 170px;
    display: inline-block;
    shape-margin: 40px;
    border-radius: 50%;
}

.column{
    float: left;
    width: 33%;
}
.row:after{
    content: "";
    display: table;
    clear:both;
}

@media screen and (max-width: 600px){
    .column{
        width:100%;
    }
}

.sectiontitle{
    color: antiquewhite;
    text-align:center
}
a:hover{
    color: #550402;
}

.card{
    border: 6px #000f45;
    background-color: #AAAAAE;
    border-radius: 5px;
    margin: 1px;
}

h1 and h2 and h3{
    color:#562750
}

footer{
    color: cornflowerblue;
    background-color: aliceblue;
}